html {
    background-color: rgb(27, 25, 25);
    text-align: center;
    color: rgb(245, 245, 238);
}

.teams {
    margin: 50px auto 30px auto;

}

a {
    font-weight: bold;
    /*ホバー時の背景色*/
    background-position: 0 0;
    background-size: 200% auto;
    color: rgb(245, 245, 238);
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #fbff27;

}

th,
td {
    background-color: rgb(41, 41, 38);
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

th {
    background-color: rgb(68, 68, 60);

    font-weight: bold;
    /* 文字の太さ指定 */
}

.logo {
    text-align: center;
    vertical-align: middle;
    width: 26px;
    height: auto;
}

.sortTitle {
    margin-top: 55px;
    margin-bottom: 15px;
}

.title {
    margin: 30px auto;
}

.btn {
    margin: 0 10px;
    margin-bottom: 10px;
}

.register {
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

.icon {
    width: 33px;
    height: auto;
}

.select {
    font-size: 30px;
}

.mainSelect {
    size: 30px;
}