html {
    background-color: rgb(27, 25, 25);
    text-align: center;
    color: rgb(245, 245, 238);
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.teams {
    margin: 50px auto 30px auto;

}

a {
    font-weight: bold;
    /*ホバー時の背景色*/
    background-position: 0 0;
    background-size: 200% auto;
    color: rgb(245, 245, 238);
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #fbff27;

}

th,
td {
    background-color: rgb(41, 41, 38);
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

th {
    background-color: rgb(68, 68, 60);

    font-weight: bold;
    /* 文字の太さ指定 */
}

.logo {
    text-align: center;
    vertical-align: middle;
    width: 26px;
    height: auto;
}

.sortTitle {
    margin-top: 55px;
    margin-bottom: 15px;
}

.title {
    margin: 30px auto;
}

.btn {
    margin: 0 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.register {
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

.icon {
    margin-top: 35px;
    width: 33px;
    height: auto;
}

.select {
    font-size: 30px;
}

.mainSelect {
    margin-top: 35px;
    size: 30px;
}

.sort a {
    font-size: 26px;
    margin-right: 5px;
}

.iconTitle {
    vertical-align: middle;
}

.mainIcon {
    width: 44px;
    height: auto;
    margin-top: 60px;
}

.mainTitle {
    font-size: 40px;
}

.teamName {
    margin-left: 10px;
    font-size: 15px;
}

.rankingName {
    float: left;
}

input {
    height: 25px;
    background-color: rgb(27, 25, 25);
    color: rgb(245, 245, 238);
    border-radius: 5px;
}

button {
    background-color: rgb(27, 25, 25);
    color: rgb(245, 245, 238);
    border-radius: 5px;
}

select {
    height: 25px;
    background-color: rgb(27, 25, 25);
    color: rgb(245, 245, 238);
    border-radius: 5px;
}

/*↓マウスオーバー時の変化。ここでは背景色だけ変更*/
input:hover {
    background-color: rgb(245, 245, 238);
    color: rgb(27, 25, 25)
}

button:hover {
    background-color: rgb(245, 245, 238);
    color: rgb(27, 25, 25)
}

select:hover {
    background-color: rgb(245, 245, 238);
    color: rgb(27, 25, 25)
}