<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>投手登録</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>投手を新規で登録する</h1>
        <form th:action="@{/pitcher-create}" th:object="${pitcherForm}" method="POST">
            <div>
                <label for="uniformNumber">背番号</label><br>
                <p th:if="${#fields.hasErrors('uniformNumber')}" th:errors="*{uniformNumber}" class="text-danger">
                    uniformNumber Error</p>
                <input id="uniformNumber" type="number" th:field="*{uniformNumber}"><br>
            </div>
            <div>
                <label for="name">名前</label><br>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">name Error</p>
                <input id="name" type="text" th:field="*{name}"><br>
            </div>
            <div>
                <label for="teamId">チーム</label><br>
                <p th:if="${#fields.hasErrors('teamId')}" th:errors="*{teamId}" class="text-danger">teamId Error</p>
                <select id="teamId" type="number" th:field="*{teamId}">
                    <option value=6>中日</option>
                    <option value=1>ヤクルト</option>
                    <option value=2>DeNA</option>
                    <option value=3>阪神</option>
                    <option value=4>巨人</option>
                    <option value=5>広島</option>
                </select>
            </div>
            <div>
                <label for="pitched">登板数</label><br>
                <p th:if="${#fields.hasErrors('pitched')}" th:errors="*{pitched}" class="text-danger">pitched Error</p>
                <input id="pitched" type="number" th:field="*{pitched}"><br>
            </div>
            <div>
                <label for="earnedRunsAverage">防御率</label><br>
                <p th:if="${#fields.hasErrors('earnedRunsAverage')}" th:errors="*{earnedRunsAverage}"
                    class="text-danger">earnedRunsAverage Error</p>
                <input id="earnedRunsAverage" type="number" step="0.01" th:field="*{earnedRunsAverage}"><br>
            </div>
            <div>
                <label for="win">勝ち</label><br>
                <p th:if="${#fields.hasErrors('win')}" th:errors="*{win}" class="text-danger">win Error</p>
                <input id="win" type="number" th:field="*{win}"><br>
            </div>
            <div>
                <label for="lose">負け</label><br>
                <p th:if="${#fields.hasErrors('lose')}" th:errors="*{lose}" class="text-danger">lose Error</p>
                <input id="lose" type="number" th:field="*{lose}"><br>
            </div>
            <div>
                <label for="save">セーブ</label><br>
                <p th:if="${#fields.hasErrors('save')}" th:errors="*{save}" class="text-danger">save Error</p>
                <input id="save" type="number" th:field="*{save}"><br>
            </div>
            <div>
                <label for="hold">ホールド</label><br>
                <p th:if="${#fields.hasErrors('hold')}" th:errors="*{hold}" class="text-danger">hold Error</p>
                <input id="hold" type="number" th:field="*{hold}"><br>
            </div>
            <div>
                <label for="inningsPitched">投球回</label><br>
                <p th:if="${#fields.hasErrors('inningsPitched')}" th:errors="*{inningsPitched}" class="text-danger">
                    inningsPitched Error</p>
                <input id="inningsPitched" type="number" step="0.1" th:field="*{inningsPitched}"><br>
            </div>
            <div>
                <label for="strikeOut">奪三振</label><br>
                <p th:if="${#fields.hasErrors('strikeOut')}" th:errors="*{strikeOut}" class="text-danger">strikeOut
                    Error</p>
                <input id="strikeOut" type="number" th:field="*{strikeOut}"><br>
            </div>
            <input class="register" type="submit" value="登録">
        </form>
        <a type="submit" th:href="@{/BaseBall}">戻る</a>
    </div>
</body>

</html>