<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>野球データベース</title>
</head>

<body>
    <div class="all">
        <h1>
            順位
        </h1>

        <form th:action="@{/fielder}">
            <tbody th:each="team : ${teams}" th:object=${team}>
                <nobr th:text="*{ranking}"></nobr>
                <nobr th:text="*{name}"></nobr>
                <nobr th:text="*{game}"></nobr>
                <nobr th:text="*{win}"></nobr>
                <nobr th:text="*{lose}"></nobr>
                <nobr th:text="*{draw}"></nobr>
                <nobr th:text="*{battingAverage}"></nobr>
                <nobr th:text="*{earnedRunsAverage}"></nobr>
                <p></p>
            </tbody>
            <p>野手を見たいチームを選んでください</p>
            <select type="number" name="num">
                <option value=0>全球団</option>
                <option value=1>ヤクルト</option>
                <option value=2>DeNA</option>
                <option value=3>阪神</option>
                <option value=4>巨人</option>
                <option value=5>広島</option>
                <option value=6>中日</option>
            </select>
            <button type="submit">決定</button>
        </form>
        <form th:action="@{/pitcher}">
            <p>投手を見たいチームを選んでください</p>
            <select type="number" name="num">
                <option value=0>全球団</option>
                <option value=1>ヤクルト</option>
                <option value=2>DeNA</option>
                <option value=3>阪神</option>
                <option value=4>巨人</option>
                <option value=5>広島</option>
                <option value=6>中日</option>
            </select>
            <button type="submit">決定</button>
        </form>
    </div>
</body>

</html>