<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>CL選手一覧</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <h1 class="title">
        チームCL
    </h1>
    </th:block>
    <a class="btn" type="submit" th:href="@{/BaseBall}">戻る</a>

    <table class="teams" border="1">
        <tr>
            <th>背番号</th>
            <th>名前</th>
            <th>チーム</th>
            <th>打順</th>
            <th>ポジション</th>
            <th>打率</th>
            <th>安打</th>
            <th>二塁打</th>
            <th>三塁打</th>
            <th>本塁打</th>
            <th>打点</th>
            <th>盗塁</th>
            <th></th>
        </tr>

        <tr th:each="member : ${members}" th:object=${member}>
            <td th:text="*{uniformNumber}"></td>
            <td th:text="*{name}"></td>
            <td>
                <img class="logo" th:src="@{/images/CL.jpg}">
            </td>
            <td th:text="*{orderNum}"></td>
            <td th:text="*{position}"></td>
            <td th:text="*{battingAverage}"></td>
            <td th:text="*{hit}"></td>
            <td th:text="*{doubleHit}"></td>
            <td th:text="*{threeHit}"></td>
            <td th:text="*{homerun}"></td>
            <td th:text="*{runBattedIn}"></td>
            <td th:text="*{baseStealing}"></td>
            <td><a th:href="@{/clFielder-edit(id=*{playerId})}">編集</a></td>
        </tr>
    </table>

    <table class="teams" border="1">
        <tr>
            <th>背番号</th>
            <th>名前</th>
            <th>チーム</th>
            <th>登板数</th>
            <th>防御率</th>
            <th>勝ち</th>
            <th>負け</th>
            <th>セーブ</th>
            <th>ホールド</th>
            <th>投球回</th>
            <th>奪三振</th>
            <th></th>
        </tr>
        <tr th:each="member : ${pitcher}" th:object=${member}>
            <td th:text="*{uniformNumber}"></td>
            <td th:text="*{name}"></td>
            <td>
                <img class="logo" th:src="@{/images/CL.jpg}">
            </td>
            <td th:text="*{pitched}"></td>
            <td th:text="*{earnedRunsAverage}"></td>
            <td th:text="*{win}"></td>
            <td th:text="*{lose}"></td>
            <td th:text="*{save}"></td>
            <td th:text="*{hold}"></td>
            <td th:text="*{inningsPitched}"></td>
            <td th:text="*{strikeOut}"></td>
            <td><a th:href="@{/clPitcher-edit(id=*{playerId})}">編集</a></td>
        </tr>
    </table>
    <a class="btn btn-primary mt-3" type="submit" th:href="@{/BaseBall}">戻る</a>
</body>

</html>