<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入力画面</title>
    <script type="text/javascript"></script>
    <style type="text/css">
        .errorStr {
            color: red;
        }
    </style>
</head>

<body>
    <h2>入力画面</h2>
    <form th:action="@{/form}" th:object="${person}" method="post" novalidate>
        <label for="name">名前：</label>
        <input type="text" th:field="*{name}" th:errorclass="is-invalid">
        <span class="errorStr" th:errors="*{name}"></span>
        <br>

        <label for="age">年齢：</label>
        <input type="number" th:field="*{age}">
        <span class="errorStr" th:errors="*{age}"></span>
        <br>

        <label for="business">職業：</label>
        <input type="text" th:field="*{business}">
        <span class="errorStr" th:errors="*{business}"></span>
        <br>

        <label for="email">Eメール：</label>
        <input type="text" th:field="*{email}">
        <span class="errorStr" th:errors="*{email}"></span>
        <br>

        <button>送信</button>
    </form>
    <form th:action="@{/getlist}" method="post"><button>一覧取得</button></form>
</body>

</html>