<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>投手一覧</title>
</head>

<body>
    <p>
        投手一覧
    </p>

    <tbody th:each="menber : ${hansin}" th:object=${menber}>
        <td th:text="*{playerId}"></td>
        <td th:text="*{uniformNumber}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{teamId}"></td>
        <td th:text="*{pitched}"></td>
        <td th:text="*{earnedRunsAverage}"></td>
        <td th:text="*{win}"></td>
        <td th:text="*{lose}"></td>
        <td th:text="*{save}"></td>
        <td th:text="*{hold}"></td>
        <td th:text="*{inningsPitched}"></td>
        <td th:text="*{strikeOut}"></td>
        <a th:href="@{/pitcher-edit(id=*{playerId})}">編集</a>
        <a th:href="@{/pitcher-delete(id=*{playerId})}">削除</a>
        <br>
    </tbody>
    <a class="btn btn-primary mt-3" th:href="@{/pitcher-create}">投手追加</a>
    <a th:href="@{/BaseBall}">戻る</a>

</body>

</html>