<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form th:action="@{/doSearchByDep}" method="get">
        部署名検索: <select name="depId">
            <option th:each="dep : ${session.deps}" th:value="${dep.id}" th:text="${dep.depName}"></option>
        </select>
        <input type="submit" value="検索">
    </form>
    <table>
        <tr>
            <th>社員ID</th>
            <th>社員名</th>
            <th>部署名</th>
        </tr>
        <tr th:each="emp : ${emps}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.empName}"></td>
            <td th:text="${emp.department.depName}"></td>
        </tr>
    </table>
</body>

</html>